<!DOCTYPE html>
<html>
  <head>
  <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <meta charset="utf-8">


    <!-- iPad/iPhone specific css below, add after your main css >
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="css/iphone.css" type="text/css" />
    -->
    <link rel="stylesheet" href="css/iphone.css" type="text/css" />

    <!-- If your application is targeting iOS BEFORE 4.0 you MUST put json2.js from http://www.JSON.org/json2.js into your www directory and include it here -->
    <script type="text/javascript" charset="utf-8" src="js/vendor/cordova-1.7.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/vendor/zepto.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/vendor/swipe.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/vendor/moment.js"></script>

    <script type="text/javascript" charset="utf-8" src="js/vendor/RGraph.common.core.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/vendor/RGraph.line.js"></script>

    <script type="text/javascript" charset="utf-8" src="js/app/index.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/views/home.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/views/taketest.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/views/tutorial.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/views/results.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/views/single_result.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/modules/device.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/modules/storage.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/app/bootstrap.js"></script>

    <script type="text/javascript">
    // prevents dragging
    function preventBehavior(e) {
      e.preventDefault();
    };
    document.addEventListener("touchmove", preventBehavior, false);

    function onBodyLoad() {
      document.addEventListener("deviceready", onDeviceReady, false);
    }

    /* When this function is called, Cordova has been initialized and is ready to roll */
    /* If you are supporting your own protocol, the var invokeString will contain any arguments to the app launch.
    see http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
    for more details -jm */
    function onDeviceReady() {
      // do your thing!
      //navigator.notification.alert("Cordova is working")
    }

    </script>

    <!-- templates -->
    <script type='text/template' id='results_tpl'>
      <ul id='results'>
        <% _.each(results, function (result, timestamp) {%>
          <li class='result' id='result_<%=timestamp%>'>
            <span class='tag <%= Flow.modules.device.getClass('pef', result.pef)%>'></span>
            <span class='hour'>
              <%= moment(+timestamp).format('dddd, MMM, HH:mm')%>
            </span>
            <span class='<%= result.used_inhaler? "inhaler" : "no-inhaler"%>'></span>
            <span class='air_quality_badge good'></span>
            <div class='single_result'></div>
          </li>
        <% });%>
      </ul>
    </script>

    <script type='text/template' id='test_tpl'>
      <div id='tests'>
        <div class='test-1'>
          <img src='img/test-1.png' />
          <p>Inhale as much air as you can</p>
        </div>
        <div class='test-2'>
          <img src='img/test-2.png' />
          <p>Exhale all the air until there is nothing left</p>
        </div>
        <div class='test-3'>
          <p>Give it all you got!</p>
        </div>
        <div class='test-4'>
          <div class='circle'></div>
        </div>
        <div class='test-5'>
          <p>Now one more time</p>
          <p>This time try harder!!</p>
        </div>
        <div class='test-6'>
          <div class='circle'></div>
        </div>
        <div class='test-7'>
        </div>
        <div class='test-8'>
          <p>Did you use an inhaler before the test?</p>
          <a class='button yes' href='#'>Yes</a>
          <a class='button no selected' href='#'>No</a>
          <p>Comments:</p>
          <textarea></textarea>
          <button class='button'>Save result</button>
        </div>
      </div>
    </script>

    <script type='text/template' id='single_result_tpl'>
      <table>
        <tr class='pef'>
          <td class='title'>PEF</td>
          <td class='value'></td>
          <td class='icon'><img src='img/spinner.gif' height='32' width='32' /></td>
        </tr>
        <tr class='fev1'>
          <td class='title'>FEV1</td>
          <td class='value'></td>
          <td class='icon'><img src='img/spinner.gif' height='32' width='32' /></td>
        </tr>
        <tr class='fvc'>
          <td class='title'>FEV1/FVC</td>
          <td class='value'></td>
          <td class='icon'><img src='img/spinner.gif' height='32' width='32' /></td>
        </tr>
      </table>
      <canvas id='chart' width="550" height="250"></canvas>
    </script>

    <script type='text/template' id='home_tpl'>
      <div class='home'>
        <h1>
          <a href='#!/'><img src="img/medium_logo.png" style="height: 60px;"></a>
        </h1>

        <ol class='tags'>
          <li class='t-taketest'></li>
          <li class='t-results'></li>
          <li class='t-settings'></li>
        </ol>

        <ol class='menu'>
          <li class='taketest'>
            <div class='menu-icon'><img src='img/test.png'/></div>
            <div style='float: left'><a href='#'>Start test</a></div>
            <div style='clear:both'></div>
          </li>

          <li class='results'>
            <div class='menu-icon'><img src='img/results.png'/></div>
            <div style='float: left'><a href='#'>Results</a></div>
            <div style='clear:both'></div>
          </li>

          <li class='settings'>
            <div class='menu-icon'><img src='img/settings.png'/></div>
            <div style='float: left'><a href='#'>More</a></div>
            <div style='clear:both'></div>
          </li>
        </ol>

        <div id='air_quality_banner'>
          <span class='air_quality_badge good'></span>Air quality: Good
        </div>

        <div id='content'></div>
        <div style='clear:both'></div>
      </div>
    </script>
  </head>

  <body onload="onBodyLoad()"></body>

</html>
