body {
  padding: 0;
  margin: 0;
  background: #EEFBFF;
  font-family: Helvetica, sans-serif;
  color: #333333; /*grey*/
  -webkit-tap-highlight-color: transparent;
}

body > div {
  padding-top: 20px;
  max-width: 640px;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0px;
  text-align: center;
  font-weight: none;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HOME */
ol.menu, ol.tags, #content {
  padding-top: 50px;
  float: left;
}

.menu-icon {
  float: left;
  width: 70px;
  margin-left: -50px;
  opacity: 1;
}

.home > ol.menu > li {
  font-size: 40px;
  line-height: 48px;
  height: 58px;
  padding: 21px;
  padding-left: 80px;
  text-shadow: 0px 1px 0px #fff;
}

.home ol.tags li {
  width: 10px;
  height: 100px;
}

.home ol.tags .t-taketest {
  background: #00B4D5; /*dark_blue*/
}

.home ol.tags .t-results {
  background: #6CC7E2; /*medium_blue*/
}

.home ol.tags .t-settings {
  background: #A3D9EA; /*light_blue*/
}

.home ol.tags {
  float: left;
}

.home ol.menu a {
  color: #333333; /*grey*/
}

/* CONTENT */
#content {
  overflow: hidden;
  height: 350px;
  position: relative;
}

#content > div {
  text-align: center;
  padding: 20px;
  height: 310px;
  font-size: 31px;
  position: relative;
  top: 0;
}

#content .circle {
   background-color: #A3D9EA;
   border-radius: 25px;
   height: 50px;
   width: 50px;
   margin-left: -25px;
   margin-top: -25px;
   position: absolute;
   top: 50%;
   left: 50%;
}
