body {
  padding: 0;
  margin: 0;
  background: #33323e url(../img/background.png);
  font-family: Helvetica, sans-serif;
  color: #ddd; /*grey*/
  -webkit-tap-highlight-color: transparent;
}

body > div {
  padding-top: 20px;
  max-width: 640px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0px;
  text-align: center;
  font-weight: none;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  font-size: 31px;
  box-shadow: 3px 3px 0px #00B4D5;
  border-radius: 2px;
  color: white;
  background: #6CC7E2;
  padding: 5px 10px;
}

.button.selected {
  background: #00B4D5;
  left: 3px;
  top: 3px;
  position: relative;
  box-shadow: none;
}

button.button {
  width: 605px;
}

#air_quality_banner {
  position: absolute;
  bottom: 0;
  padding: 20px;
  line-height: 32px;
  font-size: 22px;
  width: 600px;
  text-align: center;
}

#air_quality_banner span {
  margin-right: 20px;
  vertical-align: top;
}

.air_quality_badge {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.air_quality_badge.good {
  background: url(../img/aqb_good.png);
}

/* HOME */
ol.menu, ol.tags {
  padding-top: 50px;
  float: left;
}

.menu-icon {
  float: left;
  width: 70px;
  margin-left: -50px;
  opacity: 1;
}

.home > ol.menu > li {
  font-size: 40px;
  line-height: 48px;
  height: 58px;
  padding: 21px;
  padding-left: 80px;
  text-shadow: 0px -1px 0px #222;
}

.home ol.tags li {
  width: 10px;
  height: 100px;
}

.home ol.tags .t-taketest {
  background: #00B4D5; /*dark_blue*/
}

.home ol.tags .t-results {
  background: #6CC7E2; /*medium_blue*/
}

.home ol.tags .t-settings {
  background: #A3D9EA; /*light_blue*/
}

.home ol.tags {
  float: left;
}

.home ol.menu a {
  color: #ddd; /*grey*/
}

/* CONTENT */
#content {
  overflow: hidden;
  height: 443px;
  position: relative;
  margin-top: 50px;
  font-size: 31px;
}

#tests > div {
  text-align: center;
  padding: 20px;
  height: 403px;
  position: relative;
  top: 0;
}

#content .circle {
   background-color: #A3D9EA;
   border-radius: 25px;
   height: 50px;
   width: 50px;
   margin-left: -25px;
   margin-top: -25px;
   position: absolute;
   top: 50%;
   left: 50%;
}

#content table tr td{
  font-size: 25px;
  padding: 0px 10px 10px;
}

#content table tr td.title{
  text-align: left;
}

#content table tr td.value{
  text-align: right;
}

#content table tr.down td.value {
  color: #fd4;
}

#content table tr.danger td.value {
  color: #f44;
}

#content table tr.ok td.value{
  color: #4d4;
}

.test-8 textarea {
  padding: 10px;
  border-radius: 2px;
  height: 90px;
  width: 580px;
  background: #F9FFFF;
  border: 1px solid #BEF;
  resize: none;
  font-size: 16px;
}

/* Results */
#results .result {
  padding: 10px;
  margin-bottom: 10px;
  height: 80px;
  font-size: 25px;
}

#results .result .tag {
  float: left;
  width: 10px;
  height: 100%;
}

#results .result .tag.ok {
  background: #4d4;
}

#results .result .tag.down {
  background: #fd4;
}

#results .result .tag.danger {
  background: #f44;
}

#results .result .inhaler,
#results .result .no-inhaler {
  width: 32px;
  height: 32px;
  margin-left: 30px;
  display: inline-block;
}

#results .result .inhaler {
  background: no-repeat url(../img/inhaler.png);
}

#results .result .no-inhaler {
  background: no-repeat url(../img/no-inhaler.png);
}

#results .result .hour {
  text-align: left;
  padding-left: 20px;
  line-height: 80px;
}

#results .result.collapsed {
  height: 40px;
}

#results .result.collapsed .hour {
  line-height: 40px;
}
